
        <h1>Check In</h1>

        <button onclick = " myFunction() " >Click Me!</button>

        <script type = "text/javascript">

            function myFunction(){
            var myDate = new Date();
            var date = myDate.getFullYear() + "/" + (myDate.getMonth()+1) + "/" + myDate.getDate();
            var myDay = myDate.getDay();
           
            document.write("Date is : " + date);
            document.write("<br/>");

           //array of days
            var weekday = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

            document.write("Day is : " + weekday[myDay]);
            document.write("<br/>");

            //get hour value
            var hours = myDate.getHours();
            var ampm = hours >= 12 ? 'PM' : 'AM' ;
            //hours = hours % 12;
            //hours = hours ? hours : 12;

            var minutes = myDate.getMinutes();
            //minutes = minutes < 10 ? '0' + minutes : minutes;

            var myTime = hours + " " +ampm + " : " + minutes + " : " + myDate.getSeconds();

            document.write("\tCurrent time is : " + myTime);
        }

       
      </script>

   












 